body {
    background-color:white;
    color:black;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    height:100vh;
}

#clickLocation {
    width:20px;
    height:20px;
    background-color:black;
    position:fixed;
    top:25%;
    left:50%;
    border-radius: 10px;
}

#l1 {
    display:flex;
    width:500px;
    height:500px;
    background-color:black;
    color:white;

    align-items:center;
    justify-content:center;
    position:fixed;
    bottom:0;
    right:0;
}

#l1Light {
    background-color:rgb(37, 208, 37);
    display:none;
    width:10px;
    height:10px;
    margin-left:5px;

    border-radius:50px;
}

.indicatorContainer {
    display:flex;
    flex-direction:row;
    align-items:center;
}


